<!DOCTYPE html>
<html>
  <head>
    <title>Dreamkit Idea Wall | <%= @title %></title>
  </head>
  <body>
    <h1>Dreamkit</h1>
    <p>
      This is the home page for sample idea of
      <a href="http://www.dreamkit.net/">Dreamkit</a>
    </p>
    <p>
    Dreamkit made by Social Venture HeadFlow 
    </p>
  </body>
</html>
